@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url("https://t4.ftcdn.net/jpg/03/33/91/97/360_F_333919715_R1mDUWPgwB2CRvSCNnvnmtn64gPY40ZL.jpg");}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #928c8c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.topnav a.active {
  background-color: #5e7e07;
  color: white;
  font-family: 'Oswald', sans-serif;
}
.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
}

#dogeHouse {
  width: 95%;
  height: 300px;
  border: 2px solid #ccc;
  padding: 10px;
}

h3,
label,
p {
  background-color: rgb(167, 167, 167);
}


.card {
  margin-top: 1rem;
  background-color:rgb(94, 8, 8)
}

.card-text{background-color:rgb(94, 8, 8);
text-align:center 
}
.card-title{background-color:rgba(94, 8, 8);
  text-align:center 
  }
.form-label{background-color:rgb(94, 8, 8)
}

#btnGetFacts{
  background-color: #04AA6D;
  font-family: 'Oswald', sans-serif;
}

label {
  background-color: #5e0707;
}
