@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url('https://i.pinimg.com/474x/25/fb/20/25fb2051fd2d82590f6b46071b9d9524.jpg');}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
  font-family: 'Oswald', sans-serif;
}
.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
}

#dogeHouse {
  width: 95%;
  height: 300px;
  border: 2px solid #ccc;
  padding: 10px;
}

h3,
label,
p {
  background-color: rgb(167, 167, 167);
}


.card {
  margin-top: 1rem;
  background-color:rgb(167, 167, 167)
}

.card-text{background-color:rgb(167, 167, 167);
text-align:center 
}
.card-title{background-color:rgb(167, 167, 167);
  text-align:center 
  }
.form-label{background-color:rgb(167, 167, 167)
}

#btnGetFacts{
  background-color: #04AA6D;
  font-family: 'Oswald', sans-serif;
}

label {
  background-color: #fff;
}
